{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="privacy">
  <div class="container">
    <div class="row">
      <div class="privacy-content">
        <h2>License</h2>
        <p>Last updated: <span>January 2020 </span> </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
          at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        <div class="privacy-rules">
          <h5>1. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>2. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>3. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>4. Lorem, ipsum dolor sit amet consectetur a</h5>
          <ul>
            <li> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
          </ul>
        </div>
        <div class="privacy-rules">
          <h5>5. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
