{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- 
  #############
  Privacy Page Section
  #############
-->
<section class="privacy">
  <div class="container">
    <div class="row">
      <div class="privacy-content">
        <h2>Privacy Policy</h2>
        <p>Last updated: <span>January 2020 </span> </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
          at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        <div class="privacy-rules">
          <h5>1. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>2. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>3. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>4. Lorem, ipsum dolor sit amet consectetur a</h5>
          <ol>
            <li> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
          </ol>
        </div>
        <div class="privacy-rules">
          <h5>5. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- Mark up for Script Section-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
<script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/prism/prism.js' %}"></script>
<script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor//counter-up/countup.js' %}"></script>
<script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
