{% load static %}
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between blog-header">
          <h3>News & Consultant</h3>
          <a href="blog.html"  class="d-md-flex align-items-center d-none ">
            <span>Explore All </span>
            <i class="ph-arrow-right"></i>               
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"  data-aos="fade-up"  data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
        <div class="blog-card position-relative">
          <div class="blog-card-thumb">
            <img src="{% static 'images/blog/blog1.png' %}" alt="blog-image">
          </div>
          <div class="blog-card-content">
            <a href="blog-single.html">
              <h5>10 popular Buliding designs that increse site values</h5>
            </a>
            <a href="blog-single.html" class="d-flex align-items-center stretched-link ">
              <span>Read the Article</span>
              <i class="ph-arrow-right"></i>               
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4"  data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="50">
        <article class="blog-card position-relative">
          <div class="blog-card-thumb">
            <img src="{% static 'images/blog/blog2.png' %}" alt="blog-image">
          </div>
          <div class="blog-card-content">
            <a href="blog-single.html">
              <h5>Popular designs to beautify your Construction </h5>
            </a>
            <a href="blog-single.html" class="d-flex align-items-center stretched-link ">
              <span>Read the Article</span>
              <i class="ph-arrow-right"></i>               
            </a>
          </div>
        </article>
      </div>
      <div class="col-md-4"  data-aos="fade-up" data-aos-once="true" data-aos-duration="2000" data-aos-delay="100">
        <article class="blog-card position-relative">
          <div class="blog-card-thumb">
            <img src="{% static 'images/blog/blog3.png' %}" alt="blog-image">
          </div>
          <div class="blog-card-content">
            <a href="blog-single.html">
              <h5>Delightful home decor trend for Summer</h5>
            </a>
            <a href="blog-single.html" class="d-flex align-items-center stretched-link ">
              <span>Read the Article</span>
              <i class="ph-arrow-right"></i>               
            </a>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <a href="blog.html"  class="btn btn-small btn-outline btn-mobile d-md-none align-items-center d-flex w-auto">
          <span>Explore All </span>
          <i class="ph-caret-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="cta">
          <h4>For Recent Update, News.</h4>
          <p>We helps businesses customize, automate and scale up their ad production and delivery.</p>
          <form action="GET" class="flex align-items-center">
            <input type="text" class="form-control" placeholder="Enter Your Email">
            <button class="btn d-block d-md-inline-block w-md-auto w-100">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>