{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8" />
  <title>RealStatic</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
  <link href="{% static 'vendor/prism/prism.css' %}" rel="stylesheet" />
  
  <link rel="stylesheet" href="{% static 'vendor/phosphor-icons/css/icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
  <link href="{% static 'css/theme.css' %}" rel="stylesheet" />


  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
</head>

<body>
{% include 'includes/header.html' %}
{% block body %}
{% endblock %}
{% include 'includes/blog.html' %}
{% include 'includes/footer.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
<script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/prism/prism.js' %}"></script>
<script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/counter-up/countup.js' %}"></script>
<script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
